:root { 
--green_300:#7fdf70; 
--gray_900_02:#262626; 
--teal_A700:#00b595; 
--gray_700:#6a6a6a; 
--gray_900_03:#0e2a25; 
--gray_900_04:#2e181d; 
--gray_500:#909090; 
--blue_gray_100:#d9d9d9; 
--gray_900_05:#352e16; 
--gray_800:#39393c; 
--gray_900:#111111; 
--gray_900_01:#1d1d1f; 
--red_400:#d1425e; 
--yellow_600:#ffd532; 
--black_900:#000000; 
--yellow_800:#e9a92a; 
--blue_gray_900:#2f2f2f; 
--white_A700:#ffffff; 
}